body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/imagenes/colegio.jpg");
    background-size: cover;
    color: white;
  }
  
  .container {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    background-color: #f2f2f202;
    padding: 20px;
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #734c54;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #734c54;
  }
  
  